div {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin:auto;
  border: 2px solid black;
  height:1020px;
  width: 1020px;
}
.block {
  width: 10px;
  height: 10px;
  margin:0;
  padding:0;
  /*border: 1px dashed blue;*/
  float: left;
  
}
